body{
    font-style:"robotic";
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 12px;
}

ul {
    list-style-type: none;
}

.hero-container {
    display: flex;
    justify-content: flex-start;
    padding: 150px;
    flex-direction: row;
    background-color: #1f2937;
}

.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.text1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    width: 60%;
}

.text2 {
    font-size: 18px;
    color: #E5E7EB;
    width: 80%;
    padding-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 90px;
    height: 27px;
    border-radius: 5px;
}

.placeholder {
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    height: 300px;
    margin-left: 30px;
}

img {
    height: 300px;
    margin-left: 30px;
}

.random {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    text-align: center;
    padding: 50px;
}

.pics {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 136px;
    flex: 1;
    gap: 30px;
    justify-content: center;
    align-content: center;
}

.artinst {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.artinsttext {
    padding: 8px;
}

.arch {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.archtext {
    padding: 8px;
}

.theatre {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.theatretext {
    padding: 8px;
}

.conserve {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.conservetext {
    padding: 8px;
}

.quotes {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author {
    font-size: 24px;
    font-weight: 600;
    text-align: end;
}

.action {
    padding: 125px;
    padding-left: 150px;
    padding-right: 150px;
}

.blue {
    display: flex;
    flex: 1;
    background-color: #3882F6;
    padding: 40px;
    color: #F9FAF8;
    border-radius: 7px;
    justify-content: space-between;
    padding-right: 75px;
    padding-left: 75px;
}

.call {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 50px;
}

.call1 {
    font-size: 18px;
    font-weight: 700;
}

.signup2 {
    color: white;
    border-color: #E5E7EB;
}

.footer {
    display: flex;
    background-color: #1f2937;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
    align-items: center;
}

.tm {
    color: #E5E7EB;
}